<div class="home-page">
    <a href="/home"><img id="home-page" onclick="change()" src="../img/001.png" width="70%" height="90%"></a>
</div>
<div class="doctor-page">
    <a href="/admin/doctor"><img id="home-page" onclick="change()" src="../img/doctor.png" width="70%" height="90%"></a>
</div>
<div class="appointment-page">
    <a href="/admin/appointment"><img id="home-page" onclick="change()" src="../img/appointment.png" width="70%" height="90%"></a>
</div>
<div class="notification">
    <a href=""><img src="../img/021.png"></a>
</div>
<div class="img-user">
    <a href="/doctor/info"><img src="../img/Photo.png" width="80%" height="95%"></a>
</div>