<div class="login">
    <div class="logo-side">
        <img src="img/logo.png" alt="">
    </div>
    <div class="form-side">
        <h1>Doctor Appointments Dashboard</h1>
        <form action="login" method="post">
            <div>
                <input type="text" autocomplete="off" class="input-field" name="userName" placeholder="Doctor Name"
                    required>
            </div>
            <div>
                <input type="password" class="input-field" name="password" minlength="6" maxlength="24"
                    placeholder="Password" required>
            </div>
            <div>
                <input type="submit" value="Login &#10095;" class="btn">
            </div>
        </form>
    </div>
</div>