.home-page {
    display: none !important;
}

.notification {
    display: none !important;
}

.doctor-page {
    background-color: #f0f0f0;
    box-shadow: 0 0 2pt 2pt #babebe;
}

.img-user {
    background-color: #f9f9f999;

}

.notification {
    background-color: #f9f9f999;
}

.doctors {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    letter-spacing: -0.6px;
    word-spacing: 2.4px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: capitalize;

    .table-content {
        width: 100%;
        height: 80%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        
        table {
            width: 100%;
            text-align: left;
            border-collapse: collapse;

            thead {
                background-color: #fdeee3;
                color: #000;
            }
            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 12px;
            }
            
            //tr:nth-child(even) {
               // background-color: #f1f1f2;
           // }
        }

        .add-doctor {
            display: flex;
            align-self: flex-end;
            justify-self: flex-end;

            .btn {
                font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
                font-size: 28px;
                letter-spacing: -0.6px;
                word-spacing: 2.4px;
                font-weight: 700;
                text-decoration: none;
                font-style: italic;
                font-variant: normal;
                text-transform: capitalize;
                background-color: #f3bd97;
                border: none;
                border-radius: 25px;
                color: #fefeff;
                padding: 12px;
            }
            .btn:focus, .btn:active, .btn:hover {
                outline: none;
                background-color: #f17923;
                font-size: 29px;
                cursor: pointer;
            }
        }
        
    }
}