.doctors {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .table-content {
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: center;
        
        table {
            width: 100%;
            text-align: left;
            border-collapse: collapse;
            background-color: #e7f2f7;

            thead {
                background-color: #009688;
                color: #e7f2f7;
            }
            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 12px;
            }
            
            //tr:nth-child(even) {
               // background-color: #f1f1f2;
           // }
        }
        
    }
}